.CC2 {
  line-height: 1rem;
  margin-left: 1rem;
  /* background-color: red; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.School {
  color: white;
  font-size: 0.8em;
  margin: auto;
  padding-top: 0.8rem;
}
.address {
  color: white;
  font-size: 0.7em;
}
.mHeader {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(75, 75, 75, 1) 100%
  );
  display: flex;
  padding: 0.3rem;
}
.titles {
  font-weight: 200;
  color: #ffe431;
}
