.editzForm {
  background-color: white;
  width: 70%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.editzForm label {
  font-weight: bold;
  padding: 0.5rem;
}

.editzForm button {
  height: 3.5rem;
  cursor: pointer;
}
.studEditContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff5c58;
  padding: 1.5rem;
}
.edl {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
}

.leftpards {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.rightpards {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.leftpards input {
  width: 80%;
}

.rightpards input {
  width: 90%;
}

.rightpards button {
  width: 90%;
}

.studEditContainer > button {
  width: 20%;
  height: 10%;
  cursor: pointer;
  border: 2px;
  margin-top: 12px;
}
